DEBUG=True
SECRET_KEY=django-insecure-hdih#*_lv+#e+ro2wm+@&bnwhjjn88p+4n+(&f)9xp$2fq*h^c
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=futsal
POSTGRES_USER=futsal
POSTGRES_PASSWORD=futsal
POSTGRES_HOST=db
POSTGRES_PORT=5432
SITE_URL=http://localhost:8000
